<template>
    <div class="addItem">
        <input type="text" v-model="Item.name"/>
        <font-awesome-icon
            icon="plus-square"
            @click="addItem()"
            :class="[Item.name ? 'active' : 'inactive', 'plus']"
        />
    </div>
</template>

<script>
    export default{
        data: function(){
            return {
                Item:{
                    name: ""
                }
            }
        },
        methods:{
            addItem(){
                if(this.Item.name == ''){
                    return;
                }

                axios.post('api/item/store',{
                    Item: this.Item
                })
                .then( Response=>{
                    if(Response.status = 201){
                        this.Item.name = "";
                        this.$emit('reloadlist');
                    }
                })
                .catch(error=>{
                    console.log(error);
                })
            }
        }
    }
</script>

<style scoped>
    .addItem{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input{
        background: #f7f7f7;
        border: 0px;
        outline: none;
        padding: 5px;
        margin-right: 10px;
        width: 100%;
    }

    .plus{
        font-size: 20px;
    }
    .active{
        color: #00ce25;
    }
    .inactive{
        color: #999999;
    }
</style>
